@font-face {
  font-family: Inter;
  src: url("../../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}
p {
  margin: 0;
}
.mainPage {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-width: 100%;
  min-height: calc(100vh - 72px);
}
.mainPageCenter {
  align-items: center;
}
.userInfo {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.avatar {
  height: 280px;
  width: 280px;
  border-radius: 140px;
}
.userTextContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.userName {
  height: 34px;
  margin-top: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  color: #000000;
}

.userLink {
  height: 30px;
  margin-top: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #0064eb;
}
.follow {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
.followers,
.following {
  display: flex;
  height: 25px;
  width: 150px;
  align-items: center;
  gap: 10px;
}
.followIcon {
  height: 20px;
  width: 20px;
}
.followText {
  height: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.userRepos{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.userInfoHeader {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: #000000;
}
.userReposItem{
  margin-top: 25px;
}
.userReposItemName{
  display: flex;
  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #0064EB;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0px;
}
.userReposItemDescription{
  display: flex;
  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
}